#navigation ul {
  margin: 0 10px 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  margin: 0 5px 0 0;
}

li a {
    text-decoration: none;
}

.green {
  background-color: green;
}

#description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#description p {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
}
